<section class="pageTitle">
    <div class="container">
        <h1>Отзывы</h1>
    </div>
</section>

<section class="comments">
    <div class="container">
        <div class="commentsItem">
            <h3 class="commentsItem__name">Сергей</h3>
            <p class="commentsItem__date">13.03.2017</p>
            <p class="commentsItem__text">
                Мой дом еще только строится, но я все равно решил написать отзыв. Поделиться
                впечатлением, как я сейчас сижу и смотрю по интернету как строится мой дом.
                Это очень здорово - быть всегда в курсе процесса. Не надо каждый день ехать
                за 80 км от МКАД, чтобы узнать как там дела на стройке.
            </p>
        </div>
        <div class="commentsItem">
            <h3 class="commentsItem__name">Ольга</h3>
            <p class="commentsItem__date">18.02.2017</p>
            <p class="commentsItem__text">
                Вспоминая опыт своих знакомых, которые заказали дом у известной фирмы, но им
                подсунули плохие материалы и дом через год начал гнить, я очень долго искал
                фирму, которая отвечает за качество своих материалов. ЗемДев- именно такая фирма. Дом простоял всю зиму
                и пока нет ниодного замечания по качеству.
            </p>
        </div>
        <div class="commentsItem">
            <h3 class="commentsItem__name">Андрей Ильин</h3>
            <p class="commentsItem__date">13.09.2016</p>
            <p class="commentsItem__text">
                Решили с женой обзавестись летним домиком на участке. Были очень приятно удивлены,
                что за такую цену дом еще пригоден и для зимнего проживания. Теперь хотим встречать
                в нем Новый год. Поставили там еще и баню. Что может быть лучше зимой!
            </p>
        </div>
        <div class="commentsItem">
            <h3 class="commentsItem__name">Вера Петровна</h3>
            <p class="commentsItem__date">11.08.2016</p>
            <p class="commentsItem__text">
                Когда искала дом на дачу, приглянулся проект (№ 5), который на других сайтах
                называется Викинг. Но если сравнивать в комлектациях, полностью готовых для
                проживания, у компании Земдев он намного дешевле. Сначала сомневалась, думала,
                что наколят в чем-нибудь. Но все же решилась и не пожалела. Материалы качественные,
                сроки соблюдают. Очень довольна.
            </p>
        </div>
        <div class="commentsItem">
            <h3 class="commentsItem__name">Елена Павлова</h3>
            <p class="commentsItem__date">26.06.2016</p>
            <p class="commentsItem__text">
                Нам с мужем очень захотелось построить загородный домик. Обратились в ЗемДев. Все
                очень понравилось. Особенно, что построили дом немного быстрее. Потратили не
                оговоренные 35 дней, а чуть больше месяца. Спасибо на качественную работу!
            </p>
        </div>
        <div class="commentsItem">
            <h3 class="commentsItem__name">Анна Мещерякова</h3>
            <p class="commentsItem__date">13.06.2016</p>
            <p class="commentsItem__text">
                Обратила внимание на то, что компания предлагает посетить застроенный ими поселок.
                Не стали с дочерью долго думать, поехали смотреть. Скажу так - если сомневаетесь,
                обязательно съездите. В офисе могут сказать, что угодно, а тут можно увидеть все
                своими глазами. Заключили договор, все очень быстро построили (выбрала проект № 2).
                Теперь любуемся им на своем участке.
            </p>
        </div>
        <div class="commentsItem">
            <h3 class="commentsItem__name">Антон Куприянов</h3>
            <p class="commentsItem__date">06.06.2016</p>
            <p class="commentsItem__text">
                Обратился в земдев для постройки дачного дома. Строители действительно профессионалы
                своего дела. Построили все быстро и точно в срок. Ничего не переделывал. Этим летом
                мы будем отдыхвать в своем доме!
            </p>
        </div>
        <div class="commentsItem">
            <h3 class="commentsItem__name">Валентина</h3>
            <p class="commentsItem__date">26.05.2016</p>
            <p class="commentsItem__text">
                Родители подарили участок (6 соток), решила построить на нем летний домик. Долго искала
                фирму. Очень не нравилось, что везде при встрече раздувают цену в 2-3 раза от той,
                которая указана на сайте. Везде были эти цены "от ...". А на сайте ЗемДев реально
                написана конечная цена. Больше ничего не накручивали и ни на что не разводили.
            </p>
        </div>
        <div class="commentsItem">
            <h3 class="commentsItem__name">Петр Никулин</h3>
            <p class="commentsItem__date">13.04.2016</p>
            <p class="commentsItem__text">
                Хотелось бы написать отзыв о работе компании. У компании ЗемДев очень хорошо выстроен
                процесс работы и приема проекта по этапам. Мы очень переживали, что нас попросят
                оплатить сразу очень большую часть от стоимости дома. Но на самом деле, все вышло
                просто замечательно. Строительство разделено на этапы и с нас не требовали оплаты
                за следующий этар, пока мы не примем предыдущий. Очень правильно и честно.
            </p>
        </div>
    </div>
</section>