@font-face {
  font-family: 'ForosRegular';
  src: url('./assets/fonts/Foros/Foros-Regular.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/Foros/Foros-Regular.otf')  format('opentype'),
  url('./assets/fonts/Foros/Foros-Regular.woff') format('woff'), url('./assets/fonts/Foros/Foros-Regular.ttf')  format('truetype'), url('./assets/fonts/Foros/Foros-Regular.svg#Foros-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ForosBold';
  src: url('./assets/fonts/Foros/Foros-Bold.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/Foros/Foros-Bold.otf')  format('opentype'),
  url('./assets/fonts/Foros/Foros-Bold.woff') format('woff'), url('./assets/fonts/Foros/Foros-Bold.ttf')  format('truetype'), url('./assets/fonts/Foros/Foros-Bold.svg#Foros-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ForosMedium';
  src: url('./assets/fonts/Foros/Foros-Medium.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/Foros/Foros-Medium.otf')  format('opentype'),
  url('./assets/fonts/Foros/Foros-Medium.woff') format('woff'), url('./assets/fonts/Foros/Foros-Medium.ttf')  format('truetype'), url('./assets/fonts/Foros/Foros-Medium.svg#Foros-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}