<section class="pageTitle">
    <div class="container">
        <h1>Для клиента</h1>
    </div>
</section>

<section class="constructionPlan">
    <div class="container">
        <img class="constructionPlan__map" src="./assets/images/clients/plan.jpg">
    </div>
</section>

<section class="payments">
    <div class="container">

        <h2 class="payments__title">Способы оплаты</h2>

        <div class="payments__items">
            <div class="flex">

                <div class="paymentsItem"><i class="far fa-money-bill-alt"></i>
                    <p>Наличными в офисе</p>
                </div>

                <div class="paymentsItem"><i class="far fa-credit-card"></i>
                    <p>Банковской картой</p>
                </div>

                <div class="paymentsItem"><i class="fas fa-university"></i>
                    <p>Кредит</p>
                </div>

            </div>
        </div>

        <p class="payments__text">
            Более подробную информацию о способах оплаты и кредитных условиях, вы можете
            узнать у наших менеджеров.
        </p>

    </div>
</section>
