footer {
  background: $footerBgColor;
  padding: 25px 15px;

  .flex {
    @include row-flex();
  }
}

.footerInfo {
  @include col();
  @include col-4();
  order: 1;

  .logo {
    margin-bottom: 20px;
  }

  &__address {
    color: $white;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 10px;

    &:hover {
      color: $white;
    }
  }

  &__phone {
    font-size: 24px;
    color: $white;
    display: inline-block;
    margin-bottom: 10px;

    &:hover {
      color: $white;
    }
  }

  &__email {
    font-size: 18px;
    color: $white;
    display: inline-block;
    margin-bottom: 10px;

    &:hover {
      color: $white;
    }
  }

  &__callRequest {
    font-size: 18px;
    color: #F7A707;
    display: inline-block;
    //margin-bottom: 10px;

    &:hover {
      color: #F7A707;
    }
  }
}

.footerFeedback {
  @include col();
  @include col-8();
  order: 2;

  &__message {
    color: $white;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__react {
    color: $white;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.footerForm {

  &__block {
    @include col();
    @include col-6();

    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .inputGroup {

    .inputErrorText {
      font-size: 12px;
      color: $red;
      height: 13px;
    }

    .formInput {
      font-family: "ForosRegular", sans-serif;
      font-size: 16px;
      color: $textColor;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      outline: none;
    }

    textarea.formInput{
      resize: none;
      height: auto;
      margin-bottom: 15px;
    }
  }

  &__submitBtn {
    font-family: "ForosMedium", sans-serif;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    height: 34px;
    background: #337ab7;
    border-color: #2e6da4;
    border-radius: 4px;
    transition: $hover-transition;

    &:hover {
      background: #286090;
      border-color: #286090;
    }

    &:active {
      box-shadow: inset 0 1px 10px rgba(0,0,0,0.4);
    }
  }
}

@include max-screen(768px) {

  .footerInfo {

    &__phone {
      font-size: 18px;
    }
  }
}

@include max-screen(600px) {

  .footerInfo {

    &__address, &__phone, &__email, &__callRequest {
      font-size: 16px;
    }
  }
}

@include max-screen(480px) {

  .footerInfo {
    @include col-12();
    text-align: center;
    margin-bottom: 15px;
  }

  .footerFeedback {
    @include col-12();

    &__message, &__react {
      text-align: center;
    }
  }
}

@include max-screen(375px) {

  .footerForm {

    &__block {
      @include col-12();

      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
}