<section class="pageTitle">
    <div class="container">
        <h1>О Нас</h1>
    </div>
</section>

<section class="aboutUs">
    <div class="container">

        <p class="aboutUs__text">
            Компания <span class="strong">Framebuilt</span> является лидером в строительстве современных каркасных домов.
            Мы реализуем наши проекты "под ключ" с установкой всех необходимых коммуникаций.
            Наши сотрудники имеют большой опыт строительства домов любой сложности.
            В арсенале компании имеются наши персональные проекты, так же имеем возможность строить
            дома по индивидуальным проектам. Обратившись в нашу организацию, Вы убедитесь, что в
            наше время реально строить качественные дома по низким ценам.
        </p>

        <img src="./assets/images/logo.png" alt="" class="aboutUs__logo">

    </div>
</section>
