<section class="pageTitle">
    <div class="container">
        <h1>Проекты</h1>
    </div>
</section>

<section class="projects">
    <div class="container">
        <p class="projects__text">
            Название «коттедж» пришло из Великобритании, и означало большой
            каменный дом с надворными строениями и приусадебным участком. В
            России такие постройки появились в XIX веке. За 200 лет проекты
            коттеджей сильно изменились. Теперь это современные дома из
            высокотехнологичных материалов со всеми бытовыми удобствами. Это
            самое распространенное жилье, вокруг любого города существуют
            целые коттеджные поселки.
        </p>
        <p class="projects__text">
            Для России типичны «коттеджи на шести сотках» — дома, не
            занимающие большую земельную площадь и ориентированные вверх.
            Кроме экономии места, это позволяет<span
                class="strong"> удешевить фундамент и сделать дом более теплым.</span>
        </p>
        <div class="projects__items">
            <div class="flex">
                <app-project-item *ngFor="let project of projects | isActive" [project]="project"></app-project-item>
            </div>
        </div>
    </div>
</section>
<section class="notFind">
    <div class="container">
        <div class="notFind__border">
            <h2 class="notFind__title">Не нашли подходящий проект?</h2>
            <p class="notFind__text">
                Мы занимаемся индивидуальным проектированием и реализуем
                задумки любой сложности!
            </p>
            <p class="notFind__text">Звоните нам по телефону или оставьте заявку.</p>
            <form class="notFindForm" id="notFindForm">

                <!-- Hidden Required Fields -->
                <input type="hidden" name="admin_email" value="{{contacts.data.email}}">
                <input type="hidden" name="site" value="zemdevelopment.ru">
                <input type="hidden" name="form_subject" value="Не нашли подходящий проект на сайте zemdevelopment.ru">
                <!-- END Hidden Required Fields -->

                <div class="flex">
                    <div class="inputGroup">
                        <p class="inputErrorText"></p>
                        <input class="formInput" type="text" name="name" placeholder="Ваше имя">
                    </div>
                    <div class="inputGroup">
                        <p class="inputErrorText"></p>
                        <input class="formInput" type="text" name="phone" placeholder="Ваше телефон">
                    </div>
                    <button class="notFindForm__submitBtn" type="submit" form="notFindForm" value="submit">Отправить
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<section class="projectsTextAfter">
    <div class="container">
        <div class="projectsTextAfter__block">
            <h2>Почему люди выбирают коттеджи</h2>
            <p>Преимуществ у коттеджей много:</p>
            <ul>
                <li>
                    Несмотря на относительно скромный размер, в коттедже может разместиться и
                    отдохнуть вся семья. Большинство таких домов<span class="strong"> подходит для всесезонного проживания.</span>
                    При этом затраты на обслуживание жилья будут по карману большому количеству
                    людей;
                </li>
                <li>
                    Постройка и проектирование коттеджа обойдутся гораздо дешевле, чем
                    возведение огромного особняка. Это позволяет быстро завершить строительство,
                    особенно если использовать передовые строительные технологии;
                </li>
                <li>
                    Из-за небольшой этажности коттедж не оказывает большого давления на грунт,
                    поэтому может возводиться на любой почве;
                </li>
                <li>
                    Недорогой загородный дом – прекрасное вложение капитала. Продать его намного
                    легче, чем дом большой площади;
                </li>
                <li>
                    Многие ценят коттеджи за особый уют, которого нет в громоздких зданиях.
                    Такое жилище легко содержать в чистоте, обойдясь без привлечения нанятого
                    персонала;
                </li>
            </ul>
        </div>
        <div class="projectsTextAfter__block">
            <h2>Можно ли сэкономить при строительстве коттеджа</h2>
            <p>Можно и нужно, для этого существуют определённые строительные «хитрости»:</p>
            <ul>
                <li>
                    Дома, построенные по каркасной или блочной технологии, обойдутся намного
                    дешевле, ведь эти методики разрабатывались именно для удешевления
                    строительства. На возведение такого коттеджа уйдет около месяца, поэтому
                    стройка не превратится в «долгострой»;
                </li>
                <li>
                    Лучше выбирать готовый проект. Это позволит сразу узнать примерную стоимость
                    готового дома, избежать архитектурных проблем и связанных с ними переделок.
                    Строя типовой коттедж, человек заранее знает, что получится в итоге;
                </li>
                <li>
                    Все изменения нужно вносить в проект коттеджа до того, как началась стройка.
                    При выборе готового варианта это не займёт много времени. Специалисты фирмы
                    легко передвинут стены или разделят комнаты. При необходимости к дому можно
                    добавить гараж, веранду, балкон, мансарду или даже цокольный этаж, проведя
                    расчеты с учетом повышенной нагрузки на грунт и фундамент;
                </li>
                <li>
                    Тем, кто хочет иметь дом, не как у всех, нужно опираться на готовые варианты,
                    компонуя и видоизменяя их. Это позволит построить недорогой, но функциональный
                    коттедж, в котором не будет мертвых зон и неудобных комнат;
                </li>
                <li>
                    Не стоит без особой надобности переносить несущие стены или делать серьезные
                    изменения планировки. Это порождает, по сути, индивидуальное проектирование
                    коттеджей, которое займёт много времени и обойдётся дороже. Но, если возникло
                    такое желание, нужно поручить составление проекта опытным архитекторам, а
                    не заниматься этим самостоятельно. При стихийном строительстве вместо
                    «коттеджа мечты» часто получается громоздкий, холодный и малопривлекательный
                    «людоедский замок»;
                </li>
            </ul>
            <p>
                Возможно, готовые проекты коттеджей покажутся неоригинальными. Но, поверьте,
                на деле оказывается, что профессионалы, много лет занимающиеся строительством
                и проектировкой все продумали верно, и такие<span
                    class="strong"> коттеджи уютны, эргономичны и удобны.</span>
            </p>
        </div>
    </div>
</section>
